<div class="modal fade" id="examModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="examModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="font-size: 20px;text-align: center;">
        <p><%= messageList.timeout %></p>
        <button type="button" class="btn btn-info" v-on:click="handlerTimeout">OK</button>
      </div>
    </div>
  </div>
</div>