<br><br>
<div class="col col-4">
  <exam-input
    label="aa"
    v-model="$v.user.userName.$model"
    :errorMsg="validationMsg('userName')"
  >
  </exam-input>

  <div class="col-12">
    <exam-button
      type="button"
      class="btn btn-info"
      id="abc"
      text="Start"
    ></exam-button>
  </div>
</div>