<div class="row">
  <div class="col-0 col-sm-0 col-md-3 col-xl-3 col-lg-3"></div>
  <div class="col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 from-content" style="min-height: 70px;">
      <div class="from-header"></div>
      <div class="col-12" style="padding: 13px">
        <% if (typeof error !== 'undefined' && error.length > 0) { %>
          <%- error %>
        <% } %>
      </div>
  </div>

  <div class="col-0 col-sm-0 col-md-3 col-xl-3 col-lg-3"></div>
</div>